#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
#mc_embed_signup form {
  margin: 0px;
  padding: 0px;
}

body {
  font-weight: 300;
  font-family: 'Georgia',  serif;
  color: #333;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
}

.site {
  min-width: 800px;
  background-color: #FFF;
  text-align: left;
  width: 70%;
  margin: auto;
}

.header {
  padding: 1em 0;
  margin: auto;
  overflow: hidden;
  border-bottom: 3px solid #333;
  font-family: "futura-pt", Arial, Helvetica, 'Trebuchet MS',  sans-serif;
}

.header h1 {
  margin: 0;
  font-weight: 700;
  display: inline-block;
  float: left;
  width: 30%;
  font-family: "futura-pt", Arial, Helvetica, 'Trebuchet MS',  sans-serif;
}

.header ul {
  float: right;
  margin: 0;
}

.header ul li {
  display: inline-block;
  line-height: 42px;
  padding-left: 15px;
}

.header ul li a {
  text-transform: uppercase;
}

.header h1.title a, .header ul li a {
  text-decoration: none;
}

header {
  text-align: center;
  padding: 4em 0;
}

header h1 {
  font-weight: 300;
  font-size: 7em;
  margin:0 0 20px 0;
  line-height: 0.75em;
  letter-spacing: 0.05em;
}

header h2 {
  font-weight: 400;
  font-style: italic;
  font-size: 2.25em;
  line-height: 1.25em;
  color: #666;
  margin: 0;
}

header h2 em {
  font-style: normal;
  font-weight: 500;
  font-size: 1.33em;
  line-height: 1.25em;
  color: #333;
}

div#introduction {
  font-style: italic;
  padding: 20px 0;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  color: #666;
  margin-bottom: 50px;
}

div#introduction p {
  margin: 10px 0;
}

.header pre {
  line-height: 1.2em;
}
h1, h2, h3, h4 {
  font-family: "futura-pt", Arial, Helvetica, 'Trebuchet MS',  sans-serif;
  font-weight: 700;
}
h1 {
  font-size:3em;
  line-height: 100%;
  font-family: Consolas, Roboto, monospace;
}
h1 span {
  color: #888;
  white-space: nowrap;
}
h3 {
  font-size: 1.75em;
  display: block;
  line-height: 1.5em;
  margin: 40px 0 0 0;
}
footer {
  margin-top : 4em;
  border-top: 1px solid #ccc;
  text-align: center;
}
a {
  color: #6694e3;
}

p {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 30px;
}

article {
  width: 80%;
  min-width: 800px;
  margin: auto;
}

article h3 {
  font-family: 'Georgia',  serif;
  font-style: italic;
}

article figure {
  margin: 0px;
  padding: 0px;
}

article figure figcaption p {
  margin: 0px;
  font-style: italic;
  font-size: 0.9em;
}

article img {
  width: 100%;
}

p.meta {
  display: inline-block;
  font-size: 1.25em;
  color: #ccc;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  text-align: center;
  font-family: "futura-pt", Arial, Helvetica, 'Trebuchet MS',  sans-serif;
  margin-bottom: 0;
}
.subscribe_cta {
  border: 2px solid #ccc;
  padding: 0em 1em;
  margin-top: 4em;
}
@media screen and (max-width: 800px) {
  div.site {
    min-width: 0px;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 1em;
    /*margin: 2em;*/
  }
  h1 {
    font-size: 2.5em;
  }
  h1 span {
    font-size: 0.6em;
  }
  article {
    width: 100%;
    min-width: 0px;
    margin: 0px;
    padding: 0px;
  }
}
