#mc_embed_signup {
  background:#333;
  clear:left;
}

#mc_embed_signup form {
  margin: 0px;
  padding: 0px;
  font-family: "adelle", Arial, Helvetica, 'Trebuchet MS',  sans-serif;
}

#mc_embed_signup form label {
  text-transform: uppercase;
  letter-spacing: 0.015em;
}

#mc_embed_signup .mc-field-group {
  width: 100%;
  margin: 0;
}

#mc_embed_signup .mc-field-group input {
  background: #666;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "adelle", Arial, Helvetica, 'Trebuchet MS',  sans-serif;
  line-height: 2em;
  font-size: 1.25em;
  color: #fff;
  font-weight: 300;
}

#mc_embed_signup form input[type="submit"] {
  background: #A4C740;
  color: rgba(255,255,255,1);
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  font-family: "adelle", Arial, Helvetica, 'Trebuchet MS',  sans-serif;
  line-height: 2em;
  font-size: 1.35em;
  text-transform: uppercase;
  font-weight: 300;
  padding: 8px 22px;
  outline: none;
  height: auto;
}

#mc_embed_signup form input[type="submit"]:hover, #mc_embed_signup form input[type="submit"]:active {
  background: #8CBE22;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

div.mc-field-group {
  margin-right: 0;
}

body {
  background-color: #f8f8f8;
  border-top: 10px solid #333;
  font-weight: 300;
  font-family: 'Georgia',  serif;
  color: #333;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
}

div.site, div.header, article, .subscribe_cta {
  min-width: 800px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.site {
  text-align: left;
  margin: auto;
}

.header {
  padding: 1.5em;
  padding-bottom: 0.5em;
  margin: auto;
  overflow: hidden;
  font-family: "adelle", Arial, Helvetica, 'Trebuchet MS',  sans-serif;
  display: table;
  width: 55%;
}

div.header a {
  color: #333;
}

div.header a#home {
  float: left;
  display: block;
}

div.header a:hover, a:active {
  color: #8CBE22;
  -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

div.header img {
  max-width:100%;
}

.header ul {
  margin: 0;
  float: right;
}

.header ul li {
  display: inline-block;
  line-height: 65px;
  vertical-align: baseline;
  padding: 0px 5px;
  display: table-cell;
  vertical-align: middle;
  height: 65px;
}

.header ul li a#suscribe {
  width: 100%;
  background: #A4C740;
  color: rgba(255,255,255,1);
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.header ul li a#suscribe:hover, .header ul li a#suscribe:active {
  background: #8CBE22;
  color: #fff;
  -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.header ul li a {
  text-transform: uppercase;
  font-weight: 400;
  text-align: right;
  padding: 0.3em 0.6em;
  /*line-height: 15px;*/
  letter-spacing: 0.015em;
}

.header h1.title a, .header ul li a {
  text-decoration: none;
}

header {
  text-align: center;
  padding: 6em 0;
}

header h1 {
  font-weight: 700;
  font-size: 7em;
  margin:0 0 20px 0;
  line-height: 0.75em;
}

header h2 {
  font-weight: 400;
  font-style: italic;
  font-size: 2.25em;
  line-height: 1.25em;
  color: #666;
  margin: 0;
}

header h2 em {
  font-style: normal;
  font-weight: 500;
  font-size: 1.33em;
  line-height: 1.25em;
  color: #333;
}

header h3.present {
  margin: 0 0 30px 0;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 100;
  font-style: italic;
  color: #b9b9b9;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
  text-align: center;
  font-family: "adelle", Arial, Helvetica, 'Trebuchet MS',  sans-serif;
}

div#introduction {
  font-style: italic;
  padding: 20px 0;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  color: #666;
  margin-bottom: 6em;
}

div#introduction p {
  margin: 10px 0;
}

.header pre {
  line-height: 1.2em;
}
h1, h2, h3, h4 {
  font-family: "adelle", Arial, Helvetica, 'Trebuchet MS',  sans-serif;
}
h1 {
  font-size:3em;
  line-height: 100%;
}

h3 {
  font-size: 1.75em;
  display: block;
  line-height: 1.5em;
  margin: 40px 0 0 0;
}

a {
  color: #74BE22;
}

a:hover, a:active {
  color: #A5CA3F;
  -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

p {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 30px;
}

footer {
  padding: 2em 0;
  background: #333;
  border-top: 1px solid #444;
  text-align: center;
  color: rgba(255,255,255,0.4);
  font-family: "adelle", Arial, Helvetica, 'Trebuchet MS',  sans-serif;
}

footer p {
  margin: 20px 0;
}

footer a {
  color: #A4C740;
}

footer a:hover, footer a:active {
  color: #8CBE22;
}

article {
  margin: auto;
  width: 55%;
  padding: 1.5em;
}

article h3 {
  font-family: "adelle", Arial, Helvetica, 'Trebuchet MS',  sans-serif;
  font-weight: 600;
}

article figure {
  margin: 0px;
  padding: 0px;
  position: relative;
}

article figure figcaption {
  position: absolute;
  bottom: 0.5em;
  right: 0px;
}

article figure figcaption p {
  font-family: "adelle", Arial, Helvetica, 'Trebuchet MS',  sans-serif;
  margin: 0px;
  font-size: 0.9em;
  background: rgba(0,0,0,0.6);
  color: rgba(255,255,255,0.8);
  padding: 0.25em;
  text-align: right;
  display: inline-block;
}

article img {
  width: 100%;
}

p.meta {
  font-size: 1.25em;
  font-style: italic;
  color: #b9b9b9;
  font-weight: 100;
  margin: 20px 0 0 0;
  font-family: "adelle", Arial, Helvetica, 'Trebuchet MS',  sans-serif;
}

p.meta:before {
  content: "— ";
}

p.meta:after {
  content: " —";
}

.subscribe_cta {
  color: rgba(255,255,255,0.8);
  background: #333;
  padding: 4em 22.5%;
  margin-top: 4em;
}

.subscribe_cta h1 {
  font-weight: 600;
  margin: 0 0 20px 0;
}

.subscribe_cta h2 {
  font-weight: 300;
  font-size: 2.25em;
  line-height: 1.25em;
  margin: 0 0 30px 0;
}

.subscribe_cta p {
  font-family: "adelle", Arial, Helvetica, 'Trebuchet MS',  sans-serif;
  font-size: 1.25em;
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  div.site, div.header, article, .subscribe_cta {
    min-width: 0px;
    width: 100%;
  }
  div.site {
    /*margin: 2em;*/
  }
  div.header{
    padding: 1.5em;
    /*margin: 2em;*/
  }
  .subscribe_cta {
    padding: 4em 1em;
  }
  h1 {
    font-size: 2.5em;
  }
  h1 span {
    font-size: 0.6em;
  }
  article {
    width: 100%;
    min-width: 0px;
    margin: 0px;
    padding: 0 2em 2em 2em;
  }
  header {
    text-align: center;
    padding: 4em 0;
  }
  header h1 {
    font-size: 4.5em;
    line-height: 1.15em;
    margin:0 0 15px 0;
  }

  header h2 {
    font-size: 2em;
    line-height: 1.25em;
  }

  header h2 em {
    font-size: 1.33em;
    line-height: 1.25em;
  }

  header h3.present {
    margin: 0 0 20px 0;
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.5em;
    line-height: 1.25em;
    margin: 40px 0 0 0;
  }
  p {
    font-size: 1.35em;
    line-height: 1.5em;
    margin-bottom: 30px;
  }

  div#introduction {
    margin-bottom: 4em;
  }
  .subscribe_cta, footer {
    padding: 4em 2em;
  }
  footer p {
    margin: 0;
    text-align: left;
  }
}
@media screen and (max-width: 550px) {
  #mc_embed_signup form input[type="submit"] {
    width: 100%;
  }

  div.header a#home {
    float: none;
    display: table-caption;
    text-align: center;
    padding-top: 1.5em;
  }

  .header nav {
    display: table-row-group;
  }

  .header ul {
    float: none;
    width: 100%;
    padding: 0px;
    display: table-row;
  }

  .header ul li {
    line-height: 1em;
    height: 1em;
    width: 50%;
  }

  .header ul li:first-child {
    text-align: right;
  }
}
