#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
#mc_embed_signup form {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, 'Trebuchet MS',  sans-serif;
  color: #333;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
}

.site {
  background-color: #FFF;
  margin: 20px auto;
  max-width: 720px;
  padding: 2em 4em;
  text-align: left;
}
.title {
  display: none;
}
.header pre {
  line-height: 1.2em;
}
h1 {
  font-size:3em;
  line-height: 100%;
  font-family: Consolas, Roboto, monospace;
}
h1 span {
  color: #888;
  white-space: nowrap;
}
h2 {
  font-size: 1.5em;
  display: block;
  line-height: 100%;
}
footer {
  margin-top : 4em;
  border-top: 1px solid #ccc;
  text-align: center;
}
a {
  color: #6694e3;
}
article img {
  max-width: 100%;
}
p.meta {
  color: #ccc;
}
.subscribe_cta {
  border: 2px solid #ccc;
  padding: 0em 1em;
  margin-top: 4em;
}
@media screen and (max-width: 480px) {
  div#content {
    margin: 5px;
    padding: 2em 2em;
  }
  h1 {
    font-size: 2.5em;
  }
  h1 span {
    font-size: 0.6em;
  }
}
