---
layout: default
title: Tech Insiders - the tech industry from the people who work on it
description: "Interviews with people working in the tech industry to learn what their day to day at work is like, what they like about it, and how they got there"
og_type: website
subscribe_cta: Sounds interesting?
subscribe_cta_subtitle: Subscribe and we'll deliver updates and other exclusive cool content to your inbox!
---
<!-- Schema.org -->
<meta itemprop="name" content="{{ page.title }}" />
<meta itemprop="description" content="{{ page.description }}" />

<section class="home">
  <header>
    <h1>
      Learn about the tech industry from <br/>
      <span class="stronger">the people</span><br/>
      <span class="strong">who work</span> <span class="light">in it</span>
    </h1>
    <p id="welcome-text">From Tech Insiders we want to share different personal
    experiences from people in the industry: what is their day to day work
    like, what do they like about it, how did they get there… We want to provide
    a diverse portrait on working in the tech industry and hopefully inspire others to join in.</p>
  </header>

  <div class="feat-interview">
    <h2>Latest interviews</h2>
    {% for post in site.posts limit: 2 %}
      {% include interview_summary.html post=post %}
    {% endfor %}
  </div>
</section>

{% include subscribe_cta.html %}

