<meta name="description" content="{{ page.description }}" />

<!-- Schema.org -->
<meta itemprop="name" content="{{ page.title }}" />
<meta itemprop="description" content="{{ page.description }}" />

<!-- Open Graph tags -->
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Tech Insiders" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:image" content="{{ site.url }}/assets/og_preview200.png" />

<!-- Twitter cards -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.description }}" />

<!-- Page claiming -->
<meta property="fb:admins" content="720296700" />
<meta name="google-site-verification" content="UuiEAl6XeUFYgwE8BRFX7_TbibGCGdNJTuCl-AwDvRo" />
<meta property="twitter:account_id" content="1486067566" />

