<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Blog" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        {% include meta_tags.html %}
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
        {% include ab_testing.html %}
    </head>
    <body>

    <div class="site">
      <div id="header">
        <a id="home" href="/"><img src="/assets/logox2.png" width="255" height="69" alt="techinsiders.io"/></a>
        <nav>
          <ul>
            <li><span class="scrolled">Get the interviews in your inbox</span><a id="subscribe-button" class="extra" href="#subscribe">Subscribe</a></li>
            <!--<li><a class="extra" href="/archives.html">Archive</a></li>-->
          </ul>
        </nav>
      </div>

      {{ content }}
      <div class="band">
        <footer>
          <p>Tech Insiders is a project by
          <a href="http://twitter.com/ernesto_jimenez">@ernesto_jimenez</a>
          and
          <a href="http://twitter.com/phobeo">@phobeo</a>.
          <br/>
          Design by <a href="http://twitter.com/blanca_tp">@blanca_tp</a>.</p>
        </footer>
      </div>
    </div>

{% include google_analytics.html %}
<script type="text/javascript" src="//use.typekit.net/vge1sxp.js"></script>
<script type="text/javascript">
try{
  Typekit.load();
  (function () {
    var button = document.getElementById("subscribe-button"),
        input = document.getElementById("mce-NAME");
    if (button && input) {
      button.addEventListener('click', function () { input.focus(); });
    }

    var hitCallbackHandler = function (url) {
      window.location.href = url;
    };

    document.addEventListener('click', function (event) {
      try {
        var target = event.target, href = target.href;
        if (target.tagName == "A" && href) {
          if (href.match(/^https?\:/i)) {
            if(event.ctrlKey || event.metaKey){
              ga('send', 'event', 'link', 'click', href,
               {'nonInteraction': 1}
              );
            } else {
              ga('send', 'event', 'link', 'click', href,
               {'hitCallback': hitCallbackHandler(href)},
               {'nonInteraction': 1}
              );
              event.PreventDefault();
            }
          } else if (href.match(/^mailto\:/i)) {
            if(event.ctrlKey || event.metaKey){
              ga('send', 'event', 'mailto-link', 'click', href,
                {'nonInteraction': 1}
              );
            } else {
              ga('send', 'event', 'mailto-link', 'click', href,
                {'hitCallback': hitCallbackHandler(href)},
                {'nonInteraction': 1}
              );
              event.PreventDefault();
            }
          }
        }
      } catch (e) {}
    });
    if (window.matchMedia && window.matchMedia('(min-width: 801px)').matches) {
    var header = document.getElementById('header'),
        subscribe = document.getElementById('subscribe'),
        first = true;
    document.addEventListener('scroll', function() {
      var subscribeOffset = subscribe.offsetTop;
      //header.style.display = ((window.scrollY + 100) > subscribeOffset) ? "none" : "";
      if ((window.scrollY + 100) > subscribeOffset) {
        header.className = "hidden";
        return;
      }
      if (first) {
        first = false;
        return;
      }
      if (header.className != "scroll") {
        header.className = "scroll";
      }
    });
    }
  })();
}catch(e){}
</script>
  </body>
</html>
