---
layout: default
---
<article>
  <header>
    <h1>{{ page.name }}</h1>
    <h2>
      <em>{{ page.position }}</em> at <em>{{ page.company }}</em>
    </h2>
    <p class="meta">
      Published on
      <time datetime="{{ page.date }}">
        {{ page.date | date_to_long_string }}
      </time>
    </p>
  </header>
  {% if page.photo %}
  <figure>
    <img src="{{ page.photo }}" alt="Photo of {{ page.name }}" />
    {% if page.caption %}
    <figcaption>{{ page.caption | markdownify }}</figcaption>
    {% endif %}
  </figure>
  {% endif %}
  {{ content }}
</article>

{% include subscribe_cta.html %}
